!/bin/sh -e

# We're dealing with mount entries, so expand any symlink
LXC_ROOTFS_MOUNT=$(readlink -f "${LXC_ROOTFS_MOUNT}")

# Mount /run in the container.
mount -t tmpfs -o noexec,nodev,nosuid,mode=755,size=4M tmpfs "${LXC_ROOTFS_MOUNT}/run"
# Bind host's /run/user to /run/host/run/user.
# Using such a long path to avoid path manipulation in scripts that use it.
mount --rbind --mkdir=711 /run/user "${LXC_ROOTFS_MOUNT}/run/host/run/user"

if [ -n "${HOST_XDG_RUNTIME_DIR}" ] ; then

    # Share host's HOST_XDG_RUNTIME_DIR and other HOST_* variables provided
    # by /usr/local/bin/start-user-containers
    #
    # These variables are autimagically propagated from host's environment
    # to this hook, although it's not a documented feature, it just works.

    env | grep HOST_ >"${LXC_ROOTFS_MOUNT}/run/host/xdg.env"
fi
