lxc.apparmor.profile = unconfined

lxc.rootfs.path = dir:/var/lib/lxc/base/rootfs

# Common configuration
lxc.include = /usr/share/lxc/config/devuan.common.conf

# Mount /proc in highly restricted mode.
# Note that lxcfs won't be able to mount its files and all those df, uptime, etc. won't work at all.
#lxc.mount.entry = proc proc proc noexec,nodev,nosuid,hidepid=2,subset=pid 0 0

# clean /tmp dir
#lxc.hook.pre-start = /usr/local/share/lxcex/hooks/clean-tmp
#lxc.hook.post-stop = /usr/local/share/lxcex/hooks/clean-tmp

# lxcfs is invoked automagically, the following options aren't necessary:
#lxc.mount.auto = cgroup:mixed
#lxc.autodev = 1
#lxc.include = /usr/share/lxc/config/common.conf.d/00-lxcfs.conf

# Container specific configuration
lxc.tty.max = 4
lxc.uts.name = base
lxc.arch = amd64
lxc.pty.max = 1024

lxc.start.auto = 0
